.header-main {
    height: 15vh;
    width: 213vh;
    background-color: orangered;
    padding-top: 5vh;
    display: flex;
}

.swiggy-logo {
    height: 14vh;
    width: 40vh;
    background-color: orangered;
    padding-top: 6vh;
    box-sizing: border-box;
    margin-left: 5vh;
}

.swiggy-logo img {
    height: 14vh;
    width: 50vh;
    margin-top: -8vh;
}
#corporate{
    margin-left: 40vh;
    color: white;
    margin-top: 3.4vh;
}
#partner{
      margin-left: 5vh;
    color: white;
    margin-top: 3.4vh;
}
#btn {
    height: 9vh;
    width: 25vh;
    background-color: orangered;
    margin-top: vh;
    margin-left: 7vh;
    border: 0.3vh solid rgb(255, 255, 255);
    border-radius: 1vh;
    font-size: 3vh;
    color: white;
}
#btn-two {
    height: 9vh;
    width: 20vh;
    background-color: rgb(0, 0, 0);
    margin-top: vh;
    margin-left: 4vh;
    border: 0.3vh solid rgb(0, 0, 0);
    border-radius: 2vh;
    font-size: 3vh;
    color: white;
}