* {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  box-sizing: border-box;
}
/* .Deliveryheader {
  height: 25vh;
  width: 213vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  scroll-behavior: smooth;
}

#DeliveryheaderLogo {
  height: 12vh;
  width: 35vh;
  background-color: rgb(255, 255, 255);
}

#AboutSwiggyLogo img {
  height: 10vh;
  box-sizing: border-box;
  width: 35vh;
}

#menu {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 2.9vh;
  margin-left: 4vh;
  margin-top: -2vh;
}

#menuu {
  color: white;
  text-decoration: underline 0.5vh;
  margin-left: 4vh;
  color: orangered;
  margin-top: -2vh;
}
/* 
#menu:hover {
  color: rgb(0, 0, 0);
  color: orangered;
  text-decoration: underline 0.5vh;
} */
*/
*/
/* deliver hero  */
#Deliveryherosection {
  height: 180vh;
  width: 213vh;
  background-color: none;
  margin: 10vh 0vh 0vh 0vh;
}
.Deliveryherosection-heading {
  margin-left: 80vh;
  font-weight: bolder;
}
.Deliveryherosection-pragrap {
  margin-left: 50vh;
}
#Deliveryherosectionbox {
  height: 90vh;
  width: 213vh;
  background-color: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5vh;
}
.Deliveryherosectionbox1 {
  height: 80vh;
  width: 40vh;
  background-color: rgb(201, 201, 201);
  border: 2px solid white;
  border-radius: 10px;
}
.Deliveryherosectionbox1:hover {
  box-shadow: 0px 0px 10px 5px orangered;
  opacity: 0.8;
}
.Deliveryherosectionbox1-top {
  height: 40vh;
  width: 40vh;
  /* background-color: rgb(255, 255, 255); */
  /* border: 2px solid white; */
  border-radius: 10px;
  margin-top: 10vh;
  background-size: cover;
  transition: ease-in-out;
}
.Deliveryherosectionbox1-top img {
  height: 100%;
  width: 100%;
}
.Deliveryherosectionbox1-top:hover {
  transform: scale(1.2);
}
.Deliveryherosectionbox1-bootem {
  height: 15vh;
  width: 35vh;
  background-color: rgb(255, 255, 255);
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 10vh;
  margin-left: 2vh;
  padding: 4vh;
}
/* swiggy one section */
#Deliveryswiggyone {
  height: 55vh;
  width: 218vh;
  background-color: wheat;
  margin-top: 10vh;
  box-sizing: border-box;
  display: flex;
  border-top-right-radius: 5vh;
  border-bottom-right-radius: 5vh;
  margin-bottom: 5vh;
  padding: 1vh 0vh 0vh 0vh;
}
#Deliveryswiggyone-img {
  height: 53vh;
  width: 50vh;
  background-color: none;
  background-size: cover;
  margin-left: 0vh;
}
#Deliveryswiggyone-img img {
  height: 100%;
  width: 100%;
}
#Deliveryswiggyone-content {
  height: 53vh;
  width: 153vh;
  background-color: none;
  margin-left: 10vh;
  padding: 2vh;
}
#Deliveryswiggyone-btn {
  height: 10vh;
  width: 20vh;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 0vh;
  /* margin-top: 5vh; */
}
#Deliveryswiggyone-btn:hover {
  background-color: rgb(255, 69, 0);
  cursor: pointer;
}

/* hdfc bank credit card section */
#Deliveryhdfc {
  height: 55vh;
  width: 214vh;
  background-color: rgb(147, 5, 198);
  color: white;
  margin-top: 10vh;
  box-sizing: border-box;
  display: flex;
  border-radius: 5vh;
  margin-bottom: 5vh;
  margin-left: 3vh;
  padding: 1vh 0vh 0vh 0vh;
}
#Deliveryhdfc-content {
  height: 53vh;
  width: 153vh;
  background-color: none;
  margin-left: 10vh;
  padding: 2vh;
}
#Deliveryhdfc-btn {
  height: 10vh;
  width: 20vh;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 0vh;
  /* margin-top: 5vh; */
}
#Deliveryhdfc-btn:hover {
  background-color: rgb(255, 69, 0);
  cursor: pointer;
}
#Deliveryhdfc-img {
  height: 53vh;
  width: 50vh;
  background-color: none;
  background-size: cover;
  margin-left: 0vh;
}
#Deliveryhdfc-img img {
  height: 100%;
  width: 100%;
}

/* ride with swiggy section */
#Deliveryride {
  height: 55vh;
  width: 214vh;
  background-color: none;
  color: rgb(0, 0, 0);
  margin-top: 10vh;
  box-sizing: border-box;
  display: flex;
  border-radius: 5vh;
  margin-bottom: 5vh;
  margin-left: 3vh;
}
#Deliveryride-content {
  height: 53vh;
  width: 113vh;
  background-color: none;
  margin-left: 0vh;
  padding: 1vh 0vh 0vh 0.2vh;
}
#Deliveryride-btn {
  height: 10vh;
  width: 20vh;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 0vh;
  /* margin-top: 5vh; */
}
#Deliveryride-btn:hover {
  background-color: rgb(255, 69, 0);
  cursor: pointer;
}
#Deliveryride-img {
  height: 52vh;
  width: 90vh;
  background-color: none;
  border-radius: 5vh;
  background-size: cover;
  margin-left: 10vh;
}
#Deliveryride-img img {
  height: 100%;
  width: 100%;
}
/* Swiggy Restaurant Partner Programme */
#Deliverypartner {
  height: 55vh;
  width: 214vh;
  background-color: none;
  color: rgb(0, 0, 0);
  margin-top: 10vh;
  box-sizing: border-box;
  display: flex;
  border-radius: 5vh;
  margin-bottom: 5vh;
  margin-left: 3vh;
}
#Deliverypartner-content {
  height: 53vh;
  width: 113vh;
  background-color: none;
  margin-left: 10vh;
  padding: 1vh 0vh 0vh 0.2vh;
}
#Deliverypartner-btn {
  height: 10vh;
  width: 25vh;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 0vh;
  /* margin-top: 5vh; */
}
#Deliverypartner-btn:hover {
  background-color: rgb(255, 69, 0);
  cursor: pointer;
}
#Deliverypartner-img {
  height: 80vh;
  width: 80vh;
  background-color: none;
  border-radius: 5vh;
  background-size: cover;
  margin-left: 1vh;
  margin-top: -15vh;
}
#Deliverypartner-img img {
  height: 100%;
  width: 100%;
}

/* Flavour Meets Fame */
#Deliveryflavour {
  height: 55vh;
  width: 214vh;
  background-color: none;
  color: rgb(0, 0, 0);
  margin-top: 10vh;
  box-sizing: border-box;
  display: flex;
  border-radius: 5vh;
  margin-bottom: 5vh;
  margin-left: 3vh;
}
#Deliveryflavour-content {
  height: 53vh;
  width: 113vh;
  background-color: none;
  margin-left: 1vh;
  padding: 1vh 0vh 0vh 0.2vh;
}
#Deliveryflavour-btn {
  height: 10vh;
  width: 25vh;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 0vh;
  /* margin-top: 5vh; */
}
#Deliveryflavour-btn:hover {
  background-color: rgb(255, 69, 0);
  cursor: pointer;
}
#Deliveryflavour-img {
  height: 50vh;
  width: 100vh;
  background-color: none;
  border-radius: 5vh;
  background-size: cover;
  margin-left: 1vh;
  margin-top: 5vh;
}
#Deliveryflavour-img img {
  height: 100%;
  width: 100%;
}
