.AboutSwiggyHeaderMai {
  height: 20vh;
  width: 213vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */

}

#AboutSwiggyLogo {
  height: 12vh;
  width: 35vh;
  background-color: rgb(255, 255, 255);
}

#AboutSwiggyLogo img {
  height: 10vh;
  box-sizing: border-box;
  width: 35vh;

}

#menu {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 2.9vh;
  margin-left: 4vh;
  margin-top: -2vh;
}

#menuu {
  color: white;
  text-decoration: underline 0.5vh;
  margin-left: 4vh;
  color: orangered;
  margin-top: -2vh;
}

#menu:hover {
  color: rgb(0, 0, 0);
  color: orangered;

  text-decoration: underline 0.5vh;

}

.AboutSwiggyNavbar {
  height: 150vh;
  width: 213vh;
  background-color: rgb(255, 255, 255);
}

.AboutSwiggyNavbar img {
  height: 150vh;
  width: 213vh;
  /* opacity: 0.2; */
}

#USs {
  text-align: center;
  font-size: 6.4vh;
  margin-top: 5vh;
  position: absolute;
  margin-left: 90vh;
}

#neww {
  position: absolute;
  margin-top: 15vh;
  font-size: 3.5vh;
  margin-left: 10vh;
  color: rgb(82, 81, 81);
}

#ImagswiggyMap {
  position: absolute;
  height: 30vh;
  width: 30vh;
  margin-top: 30vh;
  margin-left: 50vh;
}

#ImageSwiggyOne {
  position: absolute;
  height: 30vh;
  width: 30vh;
  margin-top: 30vh;
  margin-left: 120vh;
}

#ImageSwiggyTwo {
  position: absolute;
  height: 30vh;
  width: 30vh;
  margin-top: 70vh;
  margin-left: 30vh;
}
#ImageSwiggyThree{
   position: absolute;
  height: 30vh;
  width: 20vh;
  margin-top: 60vh;
  margin-left: 90vh;
}
#ImageSwiggyFour{
   position: absolute;
  height: 30vh;
  width: 30vh;
  margin-top: 70vh;
  margin-left: 130vh;
}
#boxxo{
  background-color: white;
  width: 213vh;
  height: 150vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  opacity: 0.7;
}
.ipoBox{
  height: 30vh;
  width: 213vh;
  background-color: rgb(255, 255, 255);
  padding-top: 7vh;
  box-sizing: border-box;
}
#NOCC{
  color: black;
  margin-left: 55vh;
}
.SwiggyVedioBox{
  height: 110vh;
  width: 213vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiggyBoxVedio{
  height: 85vh;
  width: 150vh;
  background-color: rgb(255, 255, 255);

}
.AboutSwiggytextOne{
  height: 30vh;
  width: 213vh;
  background-color: rgb(255, 255, 255);
  padding-top: 4vh;
  box-sizing: border-box;
}
#knoww{
  font-size: 5.4vh;
  margin-left: 80vh;
}