.Mainpage {
    height: 100vh;
    width: 213vh;
    background-color: orangered;
    display: flex;
}

#image-one {
    height: 80vh;
    width: 43vh;
    background-color:orangered;
    /* margin-left: 1vh; */
}

#image-two {
    height: 100vh;
    width: 126vh;
    background-color: orangered;
    /* margin-left: 1vh; */
}

#image-three {
    height: 80vh;
    width: 40vh;
    background-color: orangered;
    /* margin-left: 1vh; */
}

#image-one img {
    height: 80vh;
    width: 45vh;
    /* margin-left: -6vh; */
}

#image-three img {
    height: 80vh;
    width: 45vh;
    position: absolute;
    margin-left: -1vh;
}

#discover {
    font-size: 8vh;
    color: white;
    margin-left: 13vh;
}
#inputOne{ 
    height: 10vh;
    width: 55vh;
    margin-left: 2vh;
    border-radius: 2vh;
    font-size: 3vh;
    display: flex;
    border: 0.3vh solid rgb(125, 121, 121);
    background-color: white;
}
#inputTwo{ 
    height: 10vh;
    width:60vh;
    margin-left: 6vh;
    border-radius: 2vh;
    font-size: 3vh;
    border: 0.3vh solid rgb(105, 105, 105);
    background-color: white;
    padding-top: 3vh;
    box-sizing: border-box;
}
.inputBox{
    display: flex;
 
}
#loaction{
    font-size: 4vh;
    margin-top: 3vh;
    color: orangered;
    margin-left: 2vh;
}
#place{
    font-size: 3vh;
    margin-top: 3vh;
    margin-left: 1vh;
    color: rgb(100, 99, 99);
}
#arrow{
    font-size: 5vh;
    margin-top: 3vh;
    margin-left: 2vh;
}
.boxHide{
    height: 15vh;
    width: 120vh;
    background-color:rgb(219, 214, 214);
    position: absolute;
    margin-top: 13vh;
    margin-left: 3vh;
    padding-top: 6vh;
    box-sizing: border-box;
    border-radius: 3vh;
    z-index: 3;
}
#current{
 
    box-sizing: border-box;
    margin-left: 10vh;
    color: orangered;
   
}
#use{
    font-size: 3vh;
    margin-left: 5vh;
    margin-top: 0.7vh;
    color: orangered;
    position: absolute;
}
#search{
    font-size: 3vh;
    margin-left: 1vh;
    color: rgb(100, 99, 99);
}
#item{
    font-size: 4vh;
    margin-left: 3vh;
  position: absolute;
  margin-top: 0.1vh;
}
.image-box{
    height: 45vh;
    width: 125vh;
    /* background-color:rgb(109, 98, 94); */
    display: flex;
    position: absolute;
    margin-left: -10vh;
    z-index: +2;
    margin-top: 5vh;
}
.one-image img{
    height:42.4vh;
    width: 42.4vh;
    position: absolute;
}
.two-image img{
    height:42.4vh;
    width: 42.4vh;
    margin-left: 30vh;
    position: absolute;
    z-index: 1;
}
.three-image img{
    height:42.4vh;
    width: 42.4vh;
    z-index: 0;
    position: absolute;
}
.underline{
    height: 3vh;
    width: 150vh;
    background-color: rgb(255, 255, 255);
    margin-top: 50vh;
    margin-left: -11vh;
}
#start{
    color: rgb(151, 145, 145);
    margin-top: -vh;
    position: absolute;
}
#end{
    margin-left: 147vh;
        color: rgb(151, 145, 145);

}
.QuestionMain{
    height: 100vh;
    width: 216vh;
    background-color: red;

}